extends layout

block nav
  include ./navbar.jade

block content
  .container              
    h1 Say something meaningful here.
    p.lead Say something worthwhile here.
    a(href="/") Go home
    br
    a(href="/ping") Ping
    br
    br
    if (user)
      p You are currently logged in as #{user.username}