extends layout

block nav
  include ./navbar.jade

block content
  .container
    h1 System Information
    div.form-group
      label.control-label.col-sm-3(for='system_name') System Name:
      div.col-sm-9
        input.form-control#system-name(type='text', name='system_name', value=system.system_name, placeholder='Enter System Name')
    div.form-group
      div.col-sm-offset-3.col-sm-9
        button.btn.btn-default#btn-update Update

  script(src='/javascripts/page/systems.js')