.popupwin-background{
	background-color:#000;
	opacity:0.5;
	position:fixed;
	top:0;left:0;right:0;bottom:0;z-index:1000;
}

.popupwin {position:absolute;padding:0px;z-index:1000;
	background-color:#fff;border:1px solid #777;border-radius:6px;}

.popupwin .title{
	background:#6E5398;
	height:32px;border-radius:4px 4px 0 0;
	border:1px solid #6E5398;
	line-height: 32px;
    padding: 0 0 0 10px;color:#fff;
}
.popupwin .title .close {cursor:pointer;float:right;padding:0 10px;font-size:24px;color:#000;}
.popupwin .title .close:hover{color:#fff;}
.popupwin > .content {padding:15px 20px 15px;}

.popupwin .buttonGroup{padding:10px 0 0 0;text-align:center;}
.popupwin button{border-radius:4px;padding:10px;width:30%;margin:0 2px 10px; }
.popupwin input[type=file]{width:100%;box-sizing: border-box;}

.popupwin #form-upload-data {text-align: center;}
.popupwin .btnUpload{
	display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 3px 0;
}
.popupwin #form-upload-data a {
	margin:0 20px;
}
.popupwin p.guide {
	text-align: left;
    font-size: 0.8em;
    color: #999;
    line-height: 1.6em;
}
